.dropdown-menu.dropdown-menu-right.show {
    margin-top: 18px !important;
}
.backdrop.d-xl-none {
    display: none;
    z-index: -1;
}
#getScheduleActive:hover {
    padding: 0px 7px !important;
    transition: 0.75s !important;
}
body.g-sidenav-show.g-sidenav-pinned {
    overflow-x: hidden !important;
}
a:hover {
	color: #525f7f !important;
}
